.contacts-icons {
  position: fixed;
  width: 38px;
  height: 198px;
  top: 18vh;
  // left: 23%;
  z-index: 10;

  @media (min-width: 320px) {
    left: 8.5vw;
  }

  @media (min-width: 1005px) {
    left: 10vw;
  }

  @media (min-width: 1195px) {
    left: 16vw;
  }

  @media (min-width: 1270px) {
    left: 17.5px;
  }

  @media (min-width: 1320px) {
    left: 19.5vw;
  }

  @media (min-width: 1430px) {
    left: 21.5vw;
  }

  @media (min-width: 1599px) {
    left: 24.5vw;
  }

  @media (min-width: 1900px) {
    left: 28.5vw;
  }

  @media (min-width: 2000px) {
    left: 34vw;
  }
}

.list-icons {

  &-item {
    width: 38px;
    height: 38px;
    margin-bottom: 40px;
  }
}


