.contacts-icons {
  position: fixed;
  width: 38px;
  height: 198px;
  top: 18vh;
  left: 28.5vw;
  z-index: 10;

  @media (min-width: 2000px) {
    left: 34vw;
  }

  @media (max-width: 1450px) {
    left: 21.5vw;
  }

  @media (max-width: 1025px) {
    left: 10.5vw;
  }

  @media (max-width: 769px) {
    left: 9.5vw;
  }
}

.list-icons {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;

  &-item {
    width: 38px;
    height: 38px;
    margin-bottom: 40px;
  }
}


